/* Global Styling */
* {
  border: 0px solid grey;
  box-sizing: border-box; }

body {
  background-color: #ededed;
  font-family: 'Open Sans', sans-serif; }

#background {
  background: url(../img/aarhusstreetfood1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#background1 {
  background: url(../img/aarhusstreetfood_login.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* Navigation Menu Section */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #d34949;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column; }

.active {
  width: 15vw; }

.sidenav a {
  height: 20%;
  text-decoration: none;
  font-size: 1em;
  color: #fff;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; }

.sidenav a:hover,
.offcanvas a:focus {
  color: #f1f1f1;
  background-color: #d67f7f; }

.icon {
  width: 100%;
  padding: 0% 25%; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

.frame {
  display: flex;
  align-items: center;
  position: fixed;
  height: 100%;
  transition: 0.5s; }

#openbutton {
  border-radius: 3px;
  transition: 0.5s;
  width: 25px; }

.closebutton {
  margin-left: 15%; }

/* Kitchen Page */
#articlekitchen {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px 100px 50px 200px;
  transition: 0.5s; }

.kitchen {
  width: 25%;
  text-align: center;
  padding-bottom: 40px;
  transition: 0.5s; }

.kitchen-image {
  max-width: 90%;
  border-radius: 100%;
  transition: 0.5s;
  animation: pulse 1.5s ease 0s; }

.kitchen-name {
  font-size: 1em;
  text-align: center; }


.modal-wrapper {
  display: none; }


.product {
  position: relative; }
  
  .product * {
    display: inline-block; }
 
  .product h4 {
    position: relative;
    left: -0.5em; }
  
  .product button {
    position: relative;
    left: 0.5em; }

/* Footer Section */

footer {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background-color: #d34949;
  text-align: center;

  display: inline-flex;
  flex-direction: row;
  justify-content: space-between; }
  footer p {
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.66);
    padding: 0px 50px; }

.footerforside {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background-color: #d34949;
  text-align: center;
  position: fixed;
  bottom: 0;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between; }
  .footerforside p {

  margin-top: 700px; }
 
/* Login Section */
#login {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.inp0 {
  width: 300px;
  height: 50px;
  margin-bottom: 1px;
  outline: none; }

.inp1 {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  background-color: #882f2f;
  color: white;
  transition: 0.5s;
  outline: none; }


.inp1:hover {
  background-color: #b74141; }

